// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$boolGray: #484848;
$boolBlue: #008489;
$boolRed: #FF5A5F;

//BoolBnb

@mixin flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-centered-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin loginRegisterButton {
  width: 500px;
  height: 45px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: $boolRed;
  outline: none;
  border: none;
  border-radius: 5px;
}

@mixin blueAnchor {
  color: $boolBlue;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//prova
