@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
}

header .header-home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home h1 {
  color: green;
}

footer h1 {
  color: blue;
}

header h1 {
  color: lightgreen;
}

.main-home h1 {
  color: green;
}

footer h1 {
  color: blue;
}

header h1 {
  color: lightgreen;
}

.main-home h1 {
  color: green;
}

footer h1 {
  color: blue;
}

