
.header-home {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .header-searchbar{
    display: flex;
    align-items: center;
       
    .logo{
      width: 50px;
    }
  }

  .login-form{
    height: 100%;
    @include flex-centered
  }

}
