
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .login-link{
    text-decoration: none;
    color: grey;
    margin: 5px;
  }

  .header-searchbar{
    display: flex;
    align-items: center;
    width: 40%;

    .logo{
      width: 40px;
      margin: 0 20px;
    }

    input{
      width: 100%;
      min-width: 130px;
      height: 40px;
      border-radius: 5px;
      outline: none;
      border: 0.5px lightgrey solid;
      box-shadow: 5px 5px 5px 5px rgba(184,184,184,0.66);
      padding: 0 25px;
    }


    .searchbar{
      @include flex-centered;
      position: relative;
      width: 100%;
    }

    .fa-search{
      position: absolute;
      left: 5px;
      color: grey;
      font-size: 120%;
    }
  }

  .login-form{
    height: 100%;
    @include flex-centered
  }

}
