.header{
  background: transparent;

}
.main-home {
  .wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url("https://a0.muscache.com/4ea/air/r:w3100-h2074-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg");
    background-size: cover;
    position: relative;

    .search-box{
      background: white;
      border-radius: 5px;
      display: flex;
      padding: 15px;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 100px;
    }
  }
}
#sponsored-flat-list{
  margin: 30px 0;
  width: 100%;
  text-align: center;
  color: dimgrey;
}
#all-flat-list{
  margin: 30px 0;
  width: 100%;
  text-align: center;
  color: dimgrey;
}
.container-carousel{
  display: flex;
  @include flex-centered;

  i{
    margin: 15px;
    font-size: 110%;
    color: $boolGray;
    cursor: pointer;

    &:hover{
      transform: scale(1.7);
      color: $boolRed;
      transition: 0.5s;
    }
  }

  .flats-wrap{
    display: flex;
    overflow: auto;
    overflow-x:hidden;
    padding: 20px 0;
    max-width: 90vw;

    .sponsored-flat{
      position: relative;
      margin: 0 20px;
      cursor: pointer;

      h3{
        width: 400px;
        position: absolute;
        top: 120px;
        left: 0;
        visibility: hidden;
        color: $boolGray;
        a{
          text-decoration: none;
          color: $boolRed;
        }
      }
      &:hover img{
        opacity: 0.3;
        transition: 1s;
      }

      &:hover h3{
        visibility: visible;
        font-weight: bold;
      }
    }
  }
  .flats-wrap::-webkit-scrollbar {
      display: none;
  }
}

.not-sponsored-flats-wrap{
  display: flex;
  @include flex-centered;
  flex-wrap: wrap;

  .not-sponsored-flat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h3{
      max-width: 400px;
      position: absolute;
      visibility: hidden;
      cursor: progress;
      a{
        text-decoration: none;
        color: $boolBlue;
      }
    }
    &:hover img{
      opacity: 0.3;
      transition: 1s;
    }

    &:hover h3{
      visibility: visible;
    }

  }
}
